.visible_plot > .js-plotly-plot {
    visibility: visible;
}
.hidden_plot > .js-plotly-plot {
    visibility: hidden;
}
#title{
    text-align: center;
}
.overview{
    width:100%;
    /* ,"height": '400px'} */
}
.detail_graph{
    width:100%;
}
.highlight_edge{
    line-color:"red";
}

#overview_col > * ,#detail_col > * {
    cursor:auto
}
#main_container > div:nth-child(2){
    flex-grow: 1;
}
#_pages_content{
    height: 100%;
}